.burger-menu {
  display: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 20px;
  overflow: visible;
  position: relative;
  z-index: 2;

  span,
  span:before,
  span:after {
    background: #fff;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  span:before,
  span:after {
    content: "";
  }

  span:before {
    left: 0px;
    top: -12px;
    width: 32px;
  }

  span {
    right: 0px;
    top: 13px;
    width: 32px;
  }

  span:after {
    left: 0px;
    top: 12px;
    width: 32px;
  }

  &.close {
    span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 32px;
    }

    span {
      transform: rotate(-45deg);
      top: 13px;
      width: 32px;
    }

    span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

@media (max-width: 1200px) {
  .burger-menu {
    display: block;
  }
}
