<div class="table-wrapper">
  <table class="table">
    <tr class="table-row" *ngIf="isCipherProps">
      <td class="table-header">Genuine Message</td>
      <td class="table-column" *ngFor="let char of messageProps.split('')">
        {{ char }}
      </td>
    </tr>

    <tr class="table-row" *ngIf="isCipherProps">
      <td class="table-header">Letter Codes</td>
      <td class="table-column" *ngFor="let char of messageProps.split('')">
        {{ char.charCodeAt(0) }}
      </td>
    </tr>

    <tr class="table-row">
      <td class="table-header">Ciphered Codes</td>
      <td class="table-column" *ngFor="let char of cipheredMessage.split('')">
        {{ char.charCodeAt(0) }}
      </td>
    </tr>

    <tr class="table-row">
      <td class="table-header">Ciphered Message</td>
      <td class="table-column" *ngFor="let char of cipheredMessage.split('')">
        {{ char }}
      </td>
    </tr>

    <tr class="table-row">
      <td class="table-header">Deciphered Codes</td>
      <td class="table-column" *ngFor="let char of decipheredMessage.split('')">
        {{ char.charCodeAt(0) }}
      </td>
    </tr>

    <tr class="table-row">
      <td class="table-header">Deciphered Message</td>
      <td class="table-column" *ngFor="let char of decipheredMessage.split('')">
        {{ char }}
      </td>
    </tr>
  </table>
</div>
