.table {
  border-collapse: collapse;
  background-color: rgba(57, 63, 84, 0.3);
  &-wrapper {
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 50px;
  }
  &-row {
    height: 50px;
    border-bottom: 3px solid rgb(29, 29, 29);
  }
  &-column {
    text-align: center;
    min-width: 50px;
  }
}
