.sidebar-opener {
  cursor: pointer;
}

.sidebar-slider {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #202124;
  transition: ease-in-out 300ms transform;
  width: 300px;
  height: 100%;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
  padding: 16px;
}

.sidebar-content {
  padding-top: 100px;
  font-size: 32px;
  height: 100%;
  font-weight: 500;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-link {
  display: block;
  padding: 20px 10px;
  text-align: center;
  transition: all 0.8s;
  &:hover {
    background-color: #424346;
  }
}

.active {
  font-weight: 900;
}

@media (max-width: 1200px) {
  .sidebar-slider {
    position: fixed;
    transform: translateX(-100%);
  }
}
