<app-burger-menu (isActive)="onBurgerClick($event)"></app-burger-menu>

<div class="sidebar-slider" [class.sidebar-slide-in]="isSidebarOpen">
  <nav class="sidebar-content">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/caesar" routerLinkActive="active">
          Caesar
        </a>
      </li>
    </ul>
  </nav>
</div>
