<div class="home">
  <div class="home-top">
    <h3 class="sub-title">Національний університет Львівська Політехніка</h3>
    <h1 class="title">Захист інформації в компютерних системах</h1>
    <h2 class="sub-title">Лабораторні роботи</h2>
  </div>

  <h2 class="title">Team 2</h2>

  <div class="home-team">
    <span class="list-name">Виконали ст.гр. КІ-39</span>
    <ul class="home-list">
      <li class="home-person">Лучик Дмитро</li>
      <li class="home-person">Баковецька Ольга</li>
      <li class="home-person">Кривий Дмитро</li>
      <li class="home-person">Гаргаш Анатолій</li>
      <li class="home-person">Митко Данило</li>
    </ul>
  </div>

  <div class="footer">Львів 2023</div>
</div>
