.title {
  text-align: center;
  margin-bottom: 30px;
}

.sub-title {
  text-align: center;
  margin-bottom: 50px;
}

.home-team {
  text-align: right;
  margin-bottom: 100px;
}

.footer {
  font-size: 18px;
  text-align: center;
}
